<html>
<head>
<title tal:content="template/title">Agatha Main Page</title>

<%= javascript_include_tag "application" %>    <%= stylesheet_link_tag  'agatha' %>

<%= javascript_include_tag "template" %>
<%= javascript_include_tag "search_ctl" %>
<%= javascript_include_tag "display_format" %>
<%= javascript_include_tag "edit" %>
<%= javascript_include_tag "group_filters" %>


<%= stylesheet_link_tag  'agatha' %>



<script type="text/JavaScript">


<!--

var menu_width = 150;
var white_space_width = 16;
var logo_width = 150;
var logo_height = 154;
var title_div_height =173;
var black_bar_height = 7;
var white_bar_height = 7;

//-->
</script>
<style type="text/css">
td img {display: block;}


#menu_div { background: #666666; }
#content_div, #content_div_1, #content_div_2,  .content_class {background: #ffffff;}

.pad_class { padding: 3px 13px 3px 13px}
.separator_class {background: #ffffff; width: 100%; height:10px}



</style>


</head>
<body  bgcolor="#ffffff"  onUnload ="on_unload()" >

    <%=  render(:partial => "shared/template_header") %> 
    <div id="menu_div" style="position: fixed; top: 187px; left:0px; bottom: 7px; width:150px; ">
        <div >
        </div>
        <div style="clear:both; height: 20px"> 
            &nbsp
        </div>

        <div id="first_menu_div"> 
        </div>
        <div style ="width: 150px; position:  absolute;bottom:0;">
            <p style="text-align: center; font-size: 25%;"> </p>
            <%=  render(:partial => "shared/copyright") %>
        </div>
    </div>

    <div id="content_div" class="content_div" style="position: fixed;  top: 187px; left: 166px; right:0px; bottom:7px; overflow: auto;">

        <script language="javascript">
            on_load();
        </script>
        <div id="first_div" >
            <td><p>&nbsp;</p>
            <%= form_tag '/admin/login' do %>
                <fieldset>
                    <legend>ACCESS DENIED! Please try to log in again</legend>

                    <div>
                        <label for="name">Name:</label>
                        <%= text_field_tag :name, params[:name] %>
                    </div>

                    <div>
                        <label for="password">Password:</label>
                        <%= password_field_tag :password, params[:password] %>
                    </div>

                    <div>
                        <%= submit_tag "Login" %>
                    </div>
                </fieldset>
            <% end %>
        </div>
    </div>

    <script language="javascript">
        $("two_column_div").hide();
    </script>
</body>
</html>



