<form action="/welcome/add_external_filter" id =  <%= raw "add_external_filter_#{search_controller.table_name}"%> method="post" onsubmit="new Ajax.Request('/welcome/add_external_filter', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value= <%= raw  "#{form_authenticity_token}" %> /></div>
 <div style="display:none">
   <input type="text" name="table_name" value="<%=search_controller.table_name%>" /> <label> add external filter table name</label>
   <input type="text" id = <%= raw "add_external_filter_id_#{search_controller.table_name}"%> name="filter_id" /> <label>add external filter filter id </label>
 </div>
</form>
<form action="/welcome/update_external_filter" id =  <%= raw "update_external_filter_#{search_controller.table_name}"%> method="post" onsubmit="new Ajax.Request('/welcome/update_external_filter', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value= <%= raw  "#{form_authenticity_token}" %> /></div>
 <div style="display:none">
   <input type="text" name="class_name" value="<%= search_controller.table_name%>" /> <label> update external filter class name</label>
   <input type="text" id = <%= raw "update_external_filter_id_#{search_controller.table_name}"%> name="filter_id" /> <label>update external filter filter id </label>
   <input type="text" id = <%= raw "update_external_elt_index_#{search_controller.table_name}"%> name="elt_index" /> <label>update external filter elt index </label>
   <input type="text" id = <%= raw "update_external_member_id_#{search_controller.table_name}"%> name="member_id" /> <label>update external filter member id</label>
   <input type="text" id = <%= raw "update_external_group_id_#{search_controller.table_name}"%> name="group_id" /> <label>update external filter group id </label>
 </div>
</form>

<form action="/welcome/table_search" id =  <%= raw "search_form_#{search_controller.table_name}"%> method="post" onsubmit="new Ajax.Request('/welcome/table_search', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false;"><div style="margin:0;padding:0"><input name="authenticity_token" type="hidden" value= <%= raw  "#{form_authenticity_token}" %> /></div>

  <div style="display:none" >
    <input id= <%= raw "table_selector_text_#{search_controller.table_name}" %>
    name="table_change_text" type="text" value=<%= raw "#{search_controller.table_name}" %> disable = " true" >
    <label name ="table_change_label"> Table Change Label </label>

  </div>

<div>
  <span id=<%= raw "possible_filters_div_#{search_controller.table_name}" %> >
    <%= raw  render(:partial => "shared/possible_filters", :object => search_controller) %>
  </span>
  <span>
     <%= raw  render(:partial => "shared/possible_external_filters", :object => search_controller) %>
  </span>
</div>

<div>
  <%= raw  render(:partial => "shared/external_filters", :object => search_controller) %>
</div>

  <div >
    <input name="commit" type="submit" value="Invisible Search" style="display:none" />
  </div>

  <div>
   <% onclick_str = "Search('#{search_controller.table_name}');return false" %>
    <input type="button" name="search_button"  value="Search" onclick= <%= raw "#{onclick_str}"%> >
  </div>

  <div style="display:none">
    <input id= <%= raw "do_search_#{search_controller.table_name}" %>
    name="default_do_search_text" type="text" value= "0" >
    <label name ="do_search_label"> Do search field - renamed on search </label>

  </div>


  <div  id =<%= raw "current_filters_#{search_controller.table_name}" %> >
     <%= raw  render(:partial => "shared/current_filters", :object => search_controller) %>

  </div>

  <script type="text/javascript">
    resizeFilters();
    resizeExternalFilters(<%= raw "\"#{search_controller.table_name}\""%> );
  </script>


</form>
