<p>
  <b>Lecture:</b>
  <%=h @attendee.lecture_id %>
</p>

<p>
  <b>Person:</b>
  <%=h @attendee.person_id %>
</p>

<p>
  <b>Examined:</b>
  <%=h @attendee.examined %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
